*{
    margin: 0px
}
.container{
    width: 100%;
    position: relative;

}
.navbar{
display: flex;
justify-content: space-between;

}
.list{
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px

}

