*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sofia', cursive;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;


}
.logo{
    margin-left: 50px;
}
#container{
    position: relative;
    width: 100%;
}
.links{
    display: flex;


}
a{
    margin-right: 30px;
    font-size: xx-large;
    text-decoration: none;
    color: black;

}
li{
    list-style: none;

}
a:hover{
    color: red;
    text-decoration: none;
    transition: 0.8s;
}
.home-contents{
    margin: 13% 0px 0px 8%;
}
.download{
    border: solid 1px; 
    border-radius: 5px;
    background-color: black; 
    color: white; 
    padding: 10px;
display: inline-block; 
margin-top: 20px;
}
.lname{
    color: orange;
}
.fname{
    font-size: xx-large;
}
.home-images{
width: 45%;
height: 80%;
position: absolute;
right: 30px;
bottom:0px ;
}
.groupimages{
    height: 100%
}